:root {
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: #ffffff;
  --lightred: #f9433dcc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Overpass", sans-serif;
}

li {
  list-style: none;
}

.section-1 {
  background-image: url(/images/bg-pattern-intro.svg),
    linear-gradient(to right, #ff8f70, #ff3d54);
  background-position: -60vh -95vw, center;
  border-radius: 0 0 0 80px;
  min-height: 65vh;
}

.section-1 p,
h2,
h3,
nav li a,
nav li span {
  color: #ffffffd7;
}

/* NAV START */
.nav-container {
  width: 100%;
  /* background-color: var(--darkgray); */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo {
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  margin-right: 40px;
}

.nav-menu {
  /* background-color: rgb(184, 128, 128); */
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 40%;
  margin-right: 0%;
  justify-content: space-around;
  align-items: center;
  margin-right: 40%;
  position: relative;
}

.nav-links {
  color: var(--white);
  text-decoration: none;
}

.nav-links:hover {
  color: var(--darkgray);
  transition: all 0.2s ease-out;
}

.nav-links-btn {
  /* background-color: var(--brightred);
  padding: 6px 16px;
  border-radius: 4px; */
}

.nav-links-btn:hover {
  /* background-color: transparent;
  color: var(--white);
  padding: 5px 15px;
  border-radius: 4px;
  border: solid 1px var(--brightred);
  transition: all 0.3s ease-out; */
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
}

.nav-menu li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-menu span {
  margin-left: 10px;
}

.nav-menu .dropdown {
  position: absolute;
  top: 30px;
  left: -5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* visibility: hidden; */
}

.nav-menu .dropdown:hover {
  /* visibility: visible; */
  background-color: black;
}

.dropdown a {
  text-decoration: none;
  padding: 5px;
}

.navbar .auth-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  /* width: 30%; */
}

.auth-btns li:nth-child(1) {
  margin-right: 10px;
  background-color: none;
}

.auth-btns li:nth-child(1):hover {
  transition: all 0.5s ease;
}

.auth-btns li:nth-child(2) {
}

.auth-btns li:nth-child(2) a {
  color: #ff525d;
  background-color: white;
  width: 150px;
  border: none;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
}

.auth-btns li:nth-child(2) a:hover {
  background-color: #ff525d;
  color: #ffffff;
  transition: all 0.5s ease;
}

/* NAV END */

/* nav {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

nav .title {
  color: #ffffff;
  font-size: 1.3rem;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
}

.menu-item {
  margin-left: 50px;
}

li {
  display: flex;
}

li a {
  text-decoration: none;
}

li:hover {
  cursor: pointer;
}

li span {
  margin: auto;
  margin-left: 10px;
}

li ul {
  position: absolute;
  visibility: hidden;
  margin-top: 16px;
}

li:hover ul {
  visibility: visible;
}

li ul li {
  padding-top: 10px;
}

.auth-buttons button {
  color: white;
  width: 100px;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.auth-buttons button:nth-child(1):hover {
  background-color: #4b5862;
  transition: all 0.5s ease;
}

.auth-buttons button:nth-child(2) {
  background-color: #ffffff;
  color: #ff525d;
}

.auth-buttons button:nth-child(2):hover {
  background-color: #ff525d;
  color: #ffffff;
  transition: all 0.5s ease;
} */

.text-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container h2 {
  font-size: 2.5rem;
}

.text-container p {
  color: #ffffffb4;
}

.section-1 .main-heading {
  margin-bottom: 30px;
}

.section-1 .sub-heading {
  margin-bottom: 40px;
}

.section-1 .button__container {
  margin-bottom: 90px;
}

.section-1 .button__container button {
  width: 130px;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.section-1 .button__container button:nth-child(1) {
  background-color: white;
  color: orangered;
}

.section-1 .button__container button:nth-child(1):hover {
  background-color: #4b5862;
  color: white;
  transition: all 0.5s ease;
}

.section-1 .button__container button:nth-child(2) {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.section-1 .button__container button:nth-child(2):hover {
  border: 1px solid #ffffff;
  background-color: orangered;
  color: #ffffff;
  transition: all 0.5s ease;
}

/* Section 2 */
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2 h2,
h3 {
  color: #4b5862;
  font-size: 1.3rem;
}

.section-2 p {
  color: #4b5862;
  margin-top: 20px;
}

.section-2 .sub-heading {
  padding-top: 130px;
  font-size: 2rem;
}

.section-2 .container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container div:nth-child(1) {
  margin-top: 100px;
  margin-left: 20px;
  width: 50%;
  padding: 0px 100px;
  line-height: 2rem;
}

.container div:nth-child(2) {
  width: 50%;
  position: absolute;
  top: -100;
  right: -180px;
}

.container div:nth-child(1) article {
  margin-top: 30px;
  font-size: 1rem;
}

.container div:nth-child(2) .illustration-desktop {
  height: 700px;
}

.container div:nth-child(2) .illustration-mobile {
  display: none;
}
/* Section 3 */

.section-3 {
  height: 43vh;
  display: flex;
  flex-direction: row;
  border-radius: 0 80px 0 80px;
  justify-content: center;
  background-image: url(/images/bg-pattern-circles.svg);
  background-color: #1f3f5b;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: -20% 80%;
  position: relative;
}

.section-3 h3 {
  font-size: 1.7rem;
  color: #ffffff;
  padding: 10px 100px;
}

.section-3 p {
  font-size: 1rem;
  margin-top: 15px;
  color: #ffffff;
  padding: 10px 100px;
  line-height: 2rem;
}

.section-3 div:nth-child(1) {
  width: 50vw;
  position: absolute;
  top: -60px;
  left: 100px;
}

.section-3 div:nth-child(2) {
  width: 50vw;
  position: absolute;
  left: 45%;
  top: 20%;
}

.section-3 img {
  height: 500px;
}

/* Section 4 */
.section-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 250px 0;
  position: relative;
  min-height: 50vh;
}

.section-4 h3 {
  font-size: 1.3rem;
  color: #4b5862;
  padding: 0 90px;
  margin-top: 30px;
}

.section-4 p {
  color: #4b5862;
  font-size: 1rem;
  margin-top: 20px;
  padding: 10px 90px;
  line-height: 1.8rem;
}

.section-4 div:nth-child(1) {
  width: 50%;
  position: absolute;
  left: -15.7%;
}

.section-4 div:nth-child(2) {
  width: 50%;
  margin-left: 40%;
}

.section-4 img {
  height: 80vh;
}

.section-4 .laptop-mobile {
  display: none;
}

/* Footer */
.footer {
  background-color: #25252d;
  border-radius: 0 70px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 80px;
}

.footer h3 {
  font-size: 2rem;
}

.footer .title,
.category {
  color: white;
  margin-bottom: 20px;
}

.footer li {
  color: #ffffffb4;
  margin-bottom: 15px;
}

.attribution {
  font-size: 1rem;
  color: #dddbdb;
  padding: 10px;
}
.attribution a {
  text-decoration: none;
  color: #ff3d54;
}

/* 
  .
  .
  Mobile View
  */
@media screen and (max-width: 768px) {
  body {
    width: 100vw;
  }
  .section-1 {
    background-image: url(/images/bg-pattern-intro.svg),
      linear-gradient(to right, #ff8f70, #ff3d54);
    background-position: -65vh -95vw, center;
    /* background-size: contain; */
    border-radius: 0 0 0 150px;
    background-repeat: no-repeat;
    min-height: 80vh;
  }

  .section-1 p,
  h2,
  h3,
  nav li a,
  nav li span {
    color: #ffffffd7;
  }

  .auth-btns,
  li span {
    visibility: hidden;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    height: 80px;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    /* background-color: #3f4164; */
  }

  .nav-container {
    position: relative;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--brightred);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #navbar-logo {
    margin-left: 20px;
  }

  .nav-menu.active {
    background: #3f4164;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    line-height: 5rem;
    /* width: 104vw; */
    width: 100vw;
    display: block;
  }

  .nav-links:hover {
    background-color: var(--brightred);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .nav-links-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--darkgray);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--brightred);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    cursor: pointer;
  }

  .menu-toggle .bar {
    display: block;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* nav {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    display: none;
  }

  nav .title {
    color: #ffffff;
    font-size: 1.3rem;
  }

  .menu-buttons {
    display: flex;
    flex-direction: row;
  }

  .menu-item {
    margin-left: 50px;
  }

  li {
    display: flex;
  }

  li a {
    text-decoration: none;
  }

  li:hover {
    cursor: pointer;
  }

  li span {
    margin: auto;
    margin-left: 10px;
  }

  li ul {
    position: absolute;
    visibility: hidden;
    margin-top: 16px;
  }

  li:hover ul {
    visibility: visible;
  }

  li ul li {
    padding-top: 10px;
  }

  .auth-buttons button {
    color: white;
    width: 100px;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
  }

  .auth-buttons button:nth-child(1):hover {
    background-color: #4b5862;
    transition: all 0.5s ease;
  }

  .auth-buttons button:nth-child(2) {
    background-color: #ffffff;
    color: #ff525d;
  }

  .auth-buttons button:nth-child(2):hover {
    background-color: #ff525d;
    color: #ffffff;
    transition: all 0.5s ease;
  } */

  .section-1 .main-heading {
    font-size: 2.5rem;
    text-align: center;
    width: 70vw;
    margin-bottom: 30px;
  }

  .section-1 .sub-heading {
    font-size: 1.3rem;
    width: 70vw;
    text-align: center;
  }

  .section-1 .button__container button {
    padding: 15px;
    font-size: 1.1rem;
  }

  /* 
  .
  .
  Section 2
  */

  /* .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .section-2 .sub-heading {
    padding-top: 150px;
    font-size: 1.8rem;
  }

  .section-2 h3 {
    font-size: 1.7rem;
    color: #4b5862;
    margin-top: 70px;
    text-align: center;
  }

  .section-2 p {
    margin-top: 20px;
    font-size: 1.1rem;
  }

  .section-2 .container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
    position: initial;
  }

  .container div:nth-child(1) {
    margin-top: 0px;
    margin-left: 0px;
    width: 100vw;
    padding: 0px 40px;
    line-height: 1.9rem;
    text-align: center;
  }

  .container div:nth-child(2) {
    width: 100%;
    position: initial;
    display: flex;
    justify-content: center;
    /* margin: auto; */
    /* top: 40px; */

    /* right: 0; */
    /* left: 150px; */
  }

  .container div:nth-child(1) article {
    /* margin-top: 30px;
    font-size: 1rem; */
  }

  .container div:nth-child(2) .illustration-desktop {
    display: none;
  }

  .container div:nth-child(2) .illustration-mobile {
    margin-top: 50px;
    display: initial;
    height: 100%;
    width: 100%;
  }

  /* 
  .
  .
  Section 3
  */

  .section-3 {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 0 150px 0 150px;
    /* justify-content: center; */
    align-items: center;
    background-image: url(/images/bg-pattern-circles.svg);
    background-color: #1f3f5b;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -15%;
    background-position: cover;
    position: initial;
    margin-top: 400px;
  }

  .section-3 h3 {
    font-size: 1.7rem;
    color: #ffffff;
    padding: 0 0;
  }

  .section-3 p {
    font-size: 1.1rem;
    margin-top: 15px;
    color: #ffffffd7;
    padding: 10px 40px;
    line-height: 2rem;
  }

  .section-3 div:nth-child(1) {
    width: 100%;
    position: initial;
    margin-top: -350px;
  }

  .section-3 div:nth-child(2) {
    margin-top: 0px;
    width: 100%;
    position: initial;
    text-align: center;
  }

  .section-3 img {
    height: 100%;
    width: 100%;
  }

  /* 
  .
  .
  Section 4
  */

  .section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    position: initial;
    text-align: center;
  }

  .section-4 h3 {
    font-size: 1.7rem;
    color: #4b5862;
    padding: 0;
    margin-top: 30px;
  }

  .section-4 p {
    color: #4b5862;
    font-size: 1.1rem;
    margin-top: 20px;
    padding: 10px 10px;
  }

  .section-4 div:nth-child(1) {
    width: 100%;
    position: initial;
    margin-left: 0%;
  }

  .section-4 div:nth-child(2) {
    width: 100%;
    margin-left: 0%;
  }

  .section-4 .laptop-desktop {
    display: none;
  }

  .section-4 .laptop-mobile {
    width: 100%;
    height: 100%;
  }

  /* 
  .
  .
  Footer
  */

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    border-radius: 0 100px 0 0;
  }

  .footer h3 {
    font-size: 3rem;
  }

  .footer .title,
  .category {
    color: white;
    margin: 30px 0;
  }

  .footer ul {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .footer li {
    color: #ffffffb4;
    margin-bottom: 15px;
    text-align: center;
  }

  .attribution {
    font-size: 1.2rem;
    color: #dddbdb;
    padding: 10px 25px;
    line-height: 2rem;
  }
  .attribution a {
    text-decoration: none;
    color: #ff3d54;
  }
}
