* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-1 {
  background-image: url("images/bg-pattern-intro.svg");
}

nav {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 150px;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
}

.menu-item {
  margin-left: 50px;
}

li {
  display: flex;
  /* transition-duration: 0.5s; */
}

li a {
  text-decoration: none;
  color: black;
}

li:hover {
  cursor: pointer;
}

li span {
  margin: auto;
  margin-left: 10px;
}

li ul {
  position: absolute;
  visibility: hidden;
  /* transition: all 0.5s ease; */
  margin-top: 16px;
}

li:hover ul {
  visibility: visible;
}

li ul li {
  padding-top: 10px;
}

.auth-buttons {
}

.text-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.section-1 .main-heading {
  margin-bottom: 30px;
}

.section-1 .sub-heading {
  margin-bottom: 50px;
}

.section-1 .button__container {
  margin-bottom: 40px;
}

.section-1 .button__container button {
  padding: 15px;
  border: none;
  border-radius: 40px;
  background-color: transparent;
}

.section-1 .button__container button:nth-child(1) {
  background-color: white;
  color: orangered;
}
